<app-box-header></app-box-header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">Latest From our Blog</h2>
                    <div class="single-blog-post" *ngFor = 'let blogs of blog'>
                        <h3>{{blogs.name}}</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> {{blogs.icon}}</li>
                                <li><i class="fa fa-clock-o"></i> {{blogs.icon1}}</li>
                                <li><i class="fa fa-calendar"></i> {{blogs.icon2}}</li>
                            </ul>
                        </div>
                        <a href="">
                            <img [src]="blogs.image" alt="">
                        </a>
                        <p>{{blogs.description}}</p>
                        <a  class="btn btn-primary" href="">{{blogs.readmore}}</a>
                    </div>
                    <div class="pagination-area">
                        <ul class="pagination">
                            <li><a href="" class="active">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-box-footer></app-box-footer>